# clang-format for 42 cursus cpp programming
# By: tkatsuma <tkatsuma@student.42tokyo.jp>

# Base style: Google
Language:		Cpp
BasedOnStyle:	Google

# Minor modifications
Standard:		c++03 # clang-format only have > c++03 versions.
IndentWidth:	2     # 4 (norm) -> 2 (google)
ColumnLimit:	80    # Same as norm for c programming.
UseTab:        	Never

# C: int *n -> C++: int* n
PointerAlignment:	Left

# indent offset for public/private (Google style)
AccessModifierOffset: -1

# Automatically sort include order
SortIncludes:    true
